/* configurações basicas*/
html,
body,
ul,
li {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    src: url(fonts/Graphik-Bold.ttf) format('truetype');
    src: url(fonts/Graphik-Regular.ttf) format('truetype');

    font-family: 'Graphik-Bold';
    font-family: 'Graphik-Regular';
}

body {
    font-family: 'Graphik-Regular', Arial, sans-serif;

    background-image: url(img/background\ completo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Graphik-Bold", sans-serif;
}

.divisao {
    color: white;
    display: flex;
    height: 100vh;
    width: auto;
}

/*configurações do menu superior*/
#efeitoMenu {
    background-color: rgb(37, 37, 219);
    width: 40px;
    height: 7px;
    border-radius: 15px;
    margin-top: 4px;
    position: fixed;
    top: 60px;
    left: 100px;
    transition: left 0.3s, opacity 0.3s;
    opacity: 1;
}

.menu-superior {
    padding: 40px;
    padding-left: 100px;
    position: fixed;

    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu-superior ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-superior li {
    margin-right: 80px;
    list-style: none;
}

.menu-superior a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-superior a:hover {
    color: #707070;
}

/*seção inicio*/
#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragrafoPadrao {
    text-align: left;
    font-size: 25px;
}

#inicio p {
    width: 600px;
    height: auto;
}

.divisaoVertical {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 50%;
}

#logoInicial {
    width: 400px;
    height: auto;
}

/*seção objetivo*/
#objetivo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#objetivo #esquerda p {
    width: 550px;
    height: auto;
    text-align: right;
    font-size: 25px;
}

#objetivo .divisaoVertical {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#objetivo #direita {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#objetivo #direita img {
    width: 500px;
}

#objetivo #direita h1 {
    margin: 0px;
    margin-top: 10px;
}

#objetivo #direita p {
    margin: 0px;
}