/* configurações basicas*/
html,
body,
ul,
li {
    margin: 0;
    padding: 0;
    height: 100%;
}

@font-face {
    src: url(fonts/Graphik-Bold.ttf) format('truetype');
    src: url(fonts/Graphik-Regular.ttf) format('truetype');

    font-family: 'Graphik-Bold';
    font-family: 'Graphik-Regular';
}

body {
    font-family: 'Graphik-Regular', Arial, sans-serif;

    background-image: url(img/background\ completo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Graphik-Bold", sans-serif;
}

.divisao {
    color: white;
    display: flex;
    height: 100vh;
    width: auto;
}

/*configurações do menu superior*/
#efeitoMenu {
    background-color: rgb(37, 37, 219);
    width: 40px;
    height: 7px;
    border-radius: 15px;
    margin-top: 4px;
    position: fixed;
    top: 60px;
    left: 100px;
    transition: left 0.3s, opacity 0.3s;
    opacity: 1;
}

.menu-superior {
    padding: 40px;
    padding-left: 100px;
    position: fixed;

    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu-superior ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-superior li {
    margin-right: 80px;
    list-style: none;
}

.menu-superior a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.menu-superior a:hover {
    color: #707070;
}

/*seção inicio*/
#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragrafoPadrao {
    text-align: left;
    font-size: 25px;
}

#inicio p {
    width: 600px;
    height: auto;
}

.divisaoVertical {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 50%;
}

#logoInicial {
    width: 400px;
    height: auto;
}

/*seção objetivo*/
#objetivo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#objetivo #esquerda p {
    width: 550px;
    height: auto;
    text-align: right;
    font-size: 25px;
}

#objetivo #esquerda {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

#objetivo #direita {
    display: flex;
    flex-direction: column;
}

#objetivo #direita #radioButtons {
    display: flex;
}

#objetivo #slider {
    display: flex;
    width: 500px;
    height: 424px;
    overflow: hidden;
}

#objetivo #slider img {
    width: 500px;
    height: auto;
}

.slide h1 {
    padding: 0;
    margin: 0px;
    margin-top: 4px;
}

.slide p {
    padding: 0;
    margin: 0px;
    margin-top: 4px;
}

.slide {
    display: none;
}

.slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-button {
    display: none;
}

#radioButtons label {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
    transition: all 0.3s ease;
}


.radio-button:checked+label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: rgb(37, 37, 219);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#radioButtons label:hover {
    background-color: #999;
}

#radioButtons label {
    font-size: 0;
    position: relative;
    background-color: #ffffff;
}

.radio-button:checked+label::after {
    width: 17px;
    height: 17px;
}

/*seção filosofia*/
#filosofia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*background-color: rgba(0, 0, 0, 0.3);*/
}

#filosofia .textoQuadro {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    width: 420px;
    height: 460px;
    border: 10px solid black;
    margin: 0px 15px;

}

#filosofia .textoQuadro img {
    position: absolute;
    top: 65%;
    left: 37%;
    height: 100px;
    width: auto;
}

#filosofia p {
    margin: 0px 15px;
    font-size: 22px;
}

#filosofia h2 {
    font-size: 35px;
    margin-top: 50px;
}

#filosofia h1 {
    font-size: 60px;
    color: black;
}

#filosofia #textoQuadros {
    display: flex;
}